{{>licenseInfo}}

{{#imports}}
import { {{classname}} } from '../{{import}}';
{{/imports}}


{{#description}}
	/**
	* {{&description}}
	*/
{{/description}}
export interface {{classname}} {
{{#operations}}
{{#operation}}
	/**
	{{#summary}}
	 * {{summary}}
	{{/summary}}
	{{#description}}
	 * {{description}}
	{{/description}}
	{{#notes}}
	 * {{notes}}
	{{/notes}}
	{{#isDeprecated}}
	 * @deprecated
	{{/isDeprecated}}
	 */
	{{nickname}}: (
		params:{ {{#xParams}}{{#description}}
			/**
			* {{description}}
			*/{{/description}}
			{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}},
			{{/-last}}{{/xParams}}

		},
		options{{^isBodyParamsRequired}}?{{/isBodyParamsRequired}}:{
			{{#bodyParam}}{{#description}}
			/**
			* {{description}}
			*/{{/description}}
			requestBody{{^required}}?{{/required}}: {{{dataType}}}{{/bodyParam}}
			{{^bodyParam}}
			requestBody{{^isBodyParamsRequired}}?{{/isBodyParamsRequired}}: {
				{{#xRequestBodyParams}}{{#description}}
				/**
				* {{description}}
				*/{{/description}}
				{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}{{/xRequestBodyParams}}
			}
			{{/bodyParam}}
		}
	) => {{#responses}}
		{{^-first}}| {{/-first}}{
			/** {{message}} */
			status: {{code}}{{#dataType}},
			/** {{message}} */
			body: {{{dataType}}}{{/dataType}}
		}{{/responses}}

{{/operation}}
{{/operations}}
}
